<div id="<%= dom_id image %>">
  <p>
    <strong>Iid:</strong>
    <%= image.iid %>
  </p>

  <p>
    <strong>Icode:</strong>
    <%= image.icode %>
  </p>

  <p>
    <strong>Iname:</strong>
    <%= image.iname %>
  </p>

  <p>
    <strong>Iimage:</strong>
    <%= image.iimage %>
  </p>

</div>
